<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            About BlueMart
        </div>
    </div>
    <div class="panel-body">
        <p>I wanna be the very best &mdash; like no one ever was.</p>
        <p>To catch them is my real test &mdash; to train them is my cause.</p>

        <blockquote>
            I will travel across the land<br/>
            Searching far and wide<br/>
            Teach pokemon to understand<br/>
            The power that's inside<br/>
        </blockquote>

        <blockquote>
            Pokemon! Gotta catch 'em all! It's you and me<br/>
            I know it's my destiny,<br/>
            Pokemon! Oh you're my best friend<br/>
            In a world we must defend<br/>
            Pokemon! A heart so true<br/>
            Our courage will pull us through,<br/>
        </blockquote>

        <p>You teach me and I'll teach you,...</p>
        <p><strong>Pokemon! Gotta catch'em all</strong></p>
    </div>
</div>