<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Damn it, Cleopatra!</h3>
    </div>
    <div class="panel-body">
        <h2>Content is Temporarilty Unavailable</h2>
        <p>It looks like the cat knocked over the server again. We apologize for this inconvenience.
            Please check back later to continue your shopping experience.</p>
    </div>
</div>