<table class="data-grid">
    <colgroup>
        <col/>
        <col/>
        <col width="7%"/>
        <col width="7%"/>
    </colgroup>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th colspan="2">
            &nbsp;
        </th>
    </tr>
    <tr class="data-row" data-ng-repeat="product in admin.products">
        <td>{{product.id}}</td>
        <td><input class="input-wide" type="text" data-ng-model="product.name"/></td>
        <td><input class="input-wide" type="number" data-ng-model="product.price"/></td>
        <td><button data-ng-click="admin.saveProduct(product)" class="btn btn-default">Save</button></td>
        <td><button data-ng-click="admin.deleteProduct(product)" class="btn btn-default">Delete</button></td>
    </tr>
    <tr class="data-grid-toolbar">
        <td colspan="4">
            <button data-ng-click="admin.createNewProduct()" class="btn btn-default">Add New Product</button>
        </td>
    </tr>
</table>