<div class="jumbotron">
    <h1>Welcome to BlueMart!</h1>
    <p>
        Prepare yourself &mdash; emotionally, spiritually, and physically &mdash; for a shopping journey
        like no other.
    </p>
    <p><a class="btn btn-primary btn-lg" data-ng-link="['Products']" role="button">Browse Our Products</a></p>
</div>